body {
    background-color: mintcream !important;
}

.creation_frame {
    display: inline-block;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
}

.heading_title {
    padding: 5px;
    text-align: center;
}

#home_features {
    border-radius: 5px;
    color: white;
    float: left;
    margin: auto;
    overflow: hidden;
    padding: 0 15px 15px 15px;
    text-decoration: none;
    width: auto;
}

#home_features a {
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}

#home_features a:hover {
    background-color: silver;
}

.item_information_expanded {
    background-color: slategray;
    color: white;
    padding: 15px;
}

.navigation_bar {
    overflow: hidden;
    text-align: center;
}

.navigation_bar a {
    display: inline-block;
    float: left;
    padding: 5px;
    text-decoration: none;
    width: 50px;
}

.navigation_bar a:hover {
    background-color: green;
}

#information_table {
    border-radius: 5px;
    height: 100%;
    padding: 15px;
    width: auto;
}